<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <h5 class="pt-1">Loan Plan Calculator</h5>
      </a>
  </div>
</nav>
<div style="height: 25px;"></div>
<form style="margin-left: 100px">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">                  
                  <div class="input-group mb-3">
                  <select class="form-select" name="selectedLoanType" [(ngModel)]="selectedLoanType" >                      
                      <option *ngFor="let type of loanType" 
                      [value]="type">{{type}}</option>                       
                    </select>
                  </div>
                  <div class="input-group mb-3">
                      <label for="loanAmountSlider" class="form-label">Loan Amount</label>
                      <input type="range" class="form-range no-border active" min="500000" max="8000000" name = "loanAmountSlider" [(ngModel)]="loanAmountSlider" (ngModelChange)="getSliderAmount($event)">
                      <type="text"  class="form-control" name = "loanAmountText" [(ngModel)]="loanAmountText" (ngModelChange)="getTextAmount($event)" min="500000" max="8000000" >
                  </div>

                  <label for="Term">Installments In Years</label>
                  <input type="text" class="form-control" name="term" [(ngModel)]="term" placeholder="In Years" min="5" max="30">

              </div>
              <div style="height: 25px;"></div>
              <button type="submit" class="btn btn-primary" (click) = "calculateLoanPlan()">Calculate</button>
          </div>  

          <div class="col-md-6">
              <p class="lead">
                  <b>Summary</b>
                </p>
             <p> For loan Amount: <b>{{loanPaybackPlan.loanAmount}}</b>  </p>
             <p> Duration of:  <b>{{loanPaybackPlan.duration}}</b> years, with  <b>{{loanPaybackPlan.interestRate}}%</b> as Interest Rate</p>
             <p> Amount Per Month: <b>{{loanPaybackPlan.amountPerMonth}}</b> </p>
          </div>
      </div>

  </div>
  <div style="height: 25px;"></div>
  <div class="container" *ngIf="showTableData">
      <div  class="table-wrapper-scroll-y my-custom-scrollbar" >
          <table class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date of Payment</th>
                  <th scope="col">Amount to Pay In Total</th>
                  <th scope="col">Interest</th>
                  <th scope="col">To Principle</th>
                  <th scope="col">Outstanding Debt</th>
                </tr>
              </thead>
              <tbody *ngFor="let plan of loanPaybackPlan.paymentPlans; let rowId= index">
                <tr>
                  <th scope="row">{{rowId+1}}</th>
                  <td>{{plan.dateOfPayment}}</td>
                  <td>{{plan.amountToPay}}</td>
                  <td>{{plan.asInterest}}</td>
                  <td>{{plan.toPrinciple}}</td>
                  <td>{{plan.outstandingDebt}}</td>
                </tr>                  
              </tbody>
            </table>
      </div>
  </div>


</form>


<!-- Footer -->
<footer class="bg-primary text-center text-white fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright    
  </div>

</footer>

<router-outlet></router-outlet>